@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
    @apply font-roboto;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #1a1e2e;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #6e6a6c;
  }

  button {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 9999px;
    padding: 0.5rem;
    font-size: 16px;
    color: #a7a6a7;
    font-size: 0.875rem; /* equivalente a text-sm */
    @media (min-width: 640px) {
      padding: 0.75rem; /* equivalente a sm:p-3 */
      font-size: 1rem; /* equivalente a sm:text-base */
    }
  }
}
